.vscode
/build
src/core/build
src/standalone/build
src/trogdord/build
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

#PHP7 Module
src/php7/acinclude.m4
src/php7/aclocal.m4
src/php7/autom4te.cache/*
src/php7/build/*
src/php7/config.guess
src/php7/config.h.in
src/php7/config.sub
src/php7/configure
src/php7/configure.ac
src/php7/install-sh
src/php7/ltmain.sh
src/php7/Makefile.global
src/php7/missing
src/php7/mkinstalldirs
src/php7/run-tests.php
src/php7/Makefile.fragments
src/php7/Makefile.objects
src/php7/config.log
src/php7/config.nice
src/php7/.libs/*
src/php7/config.h*
src/php7/config.status
src/php7/libtool
src/php7/module.lo
src/php7/modules/*
src/php7/trogdor.la
