name: Unit Tests
on: [push, pull_request]

jobs:

   test_core:

      runs-on: ubuntu-latest
      name: Core

      steps:
         - name: Checkout
           uses: actions/checkout@v2
         - name: Build and run
           uses: ./.github/workflows/actions/test_core